<h2>スケジュール編集</h2>

<%= form_for @schedule do |f| %>
    <table>
        <tr>
            <th><%= f.label :title ,"タイトル" %></th>
            <td><%= f.text_field :title %></td>
        </tr>
        <tr>
            <th><%= f.label :startd ,"開始日" %></th>
            <td><%= f.date_field :startd %></td>
        </tr>
        <tr>
            <th><%= f.label :endd ,"終了日" %></th>
            <td><%= f.date_field :endd %></td>
        </tr>
        <tr>
            <th><%= f.label :alld ,"終日" %></th>
            <td><%= f.check_box :alld %></td>
        </tr>
        <tr>
            <th><%= f.label :memo ,"メモ" %></th>
            <td><%= f.text_area :memo %></td>
        </tr>
    </table>
    <div>
        <ul>
            <li><%= f.submit "編集を完了する" %></li>
            <li><%= link_to "スケジュール一覧に戻る", :schedules %></li>
        </ul>
    </div>
<% end %>

<footer>
    <%= render "shared/today" %>
</footer>